{% extends 'index.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<body>
    <div id="products" class="content">
        <h2>Our Products</h2>
        <p>We specialize in producing and supplying top-quality beef meat. All our products are carefully selected and processed to meet the highest standards.</p>
        
        <h2>Place Your Order</h2>
        <div>
          <p>Call this number to place your order: <strong><a href="tel:+254799602333">+254799602333</a></strong></p>
        </div>
    </div>
</body>
    </html> 

{% endblock content %}