{% extends 'index.html' %}

{% block content %}
<style>
    .contact{
        justify-content: center;

    }
</style>
        <div id="Tenders" class="content">
            
            <h1>HOW TO OBTAIN ORDER TO SUPPLY ANIMALS TO SAFI FOOD PRODUCTION LTD</h1>
            <p><paragraph>All farmers are encouraged to bring their animals. Farmers who express their interest in supplying animals to SAFI FOODS will be given an order (LPO) to deliver animals based on their capacity and the delivery schedule. They will also be issued with a "No Objection" Permit which will be taken to the county veterinary Office to obtain a Movement Permit which accompany animals delivered to SAFI FOODS. If a farmer is unable to pick these documents physically from SAFI FOODS outlet, a softcopy of the Local Purchase Order (LPO) and the No Objection permit will be sent by phone or email address to the farmers to facilitate the proccess.</paragraph></p>
            <p><paragraph>Once the farmer arrives with the animals at SAFI FOODS, the animals will be accesssed by the acceptance and inspection committee and weighed for payment with the presence of the farmer.</paragraph></p><br><br><br>
            <h1>SPECIFICATION OF CATTLE BEING PURCHASED BY SAFI FOOD PRODUCTION LTD.</h1>
            <p><paragraph>The animals should be of good health with no signs of unthriftyness (sickness). The minimum encouraged weight is 200kg for cattle. The animals should not be more than 5 years. Female animals should should not be pregnant or in milk.</paragraph></p>
            <p>The animals should be branded on the recommended sites. They should not have any gross lesions due to mishandling, wounds or sickness.</p>
            <p>Farmers are advised to adhere to animal welfare regulations during transportation to avoid injuries or loss of animals during transist.</p>
        </div>

{% endblock content %}